In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("catamarans.csv")
df.dropna(inplace=True)
df = df.rename(columns = {"Length \n(ft)":"Length", "Geographic Region":"Geo", "Country/Region/State ":"Origin", "Listing Price (USD)":"Price"})
df['Price'] = df['Price'].str.replace(',', '', regex=True)
df['Price'] = df['Price'].str.replace('$', '', regex=True)
df['Price'] = df['Price'].astype(int)
df['Length'] = df['Length'].astype(int)
df['Year'] = df['Year'].astype(int)
df.head()

              Make     Variant  Length        Geo      Origin   Price  Year
0           Lagoon         380      38  Caribbean  Martinique  204921  2005
1           Lagoon         380      38  Caribbean  Guadeloupe  200071  2005
2           Lagoon         380      38        USA     Florida  219000  2005
3  Fountaine Pajot  Lavezzi 40      39  Caribbean      Mexico  210000  2005
4          Leopard          40      39  Caribbean      Panama  200000  2005

In [4]:
noise_std = 0.05
df['Price'] = df['Price'].to_numpy(dtype=int) + np.random.normal(scale=noise_std*df['Price'].to_numpy(dtype=int), size=df.shape[0])
df['Year'] = df['Year'].to_numpy(dtype=int) + np.random.normal(scale=noise_std * (2023-df['Year'].to_numpy(dtype=int)), size=df.shape[0])
df['Length'] = df['Length'].to_numpy(dtype=int) + np.random.normal(scale=noise_std*df['Length'].to_numpy(dtype=int), size=df.shape[0])
df['Price'] = df['Price'].astype(int)
df['Length'] = df['Length'].astype(int)
df['Year'] = df['Year'].astype(int)
df.to_csv('augmented_data.csv', index=False)

In [5]:
df_augmented = df.copy()
merged_df = pd.concat([df, df_augmented], axis=0)
groups = merged_df.groupby(['Make'])
len(groups)
for name, group in groups:
    filename = name + '.csv'
    group.to_csv(filename, index=False)



# merged_df.to_csv('merged_data_sailboat.csv', index=False)

In [6]:
merged_df.groupby(['Make','Year','Variant'])['Price'].mean()

Make           Year  Variant
Alliaura       2008  Feeling 39 DI          232332.0
               2012  Feeling 39 DI          222013.0
Antares        2009  44i                    503810.0
               2010  44i                    511597.0
               2012  44i                    758932.0
                                              ...
Voyage Yachts  2007  500                    407538.0
               2008  500                    528778.0
               2010  500 Owner's Version    624744.0
               2011  Voyage 520 DC          685955.0
               2015  Voyage 480             598890.0
Name: Price, Length: 393, dtype: float64