In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("monohulled-sailboats.csv")
df.dropna(inplace=True)
df = df.rename(columns = {"Length \n(ft)":"Length", "Geographic Region":"Geo", "Country/Region/State ":"Origin", "Listing Price (USD)":"Price"})
df['Price'] = df['Price'].str.replace(',', '', regex=True)
df['Price'] = df['Price'].str.replace('$', '', regex=True)
df['Price'] = df['Price'].astype(int)
df['Length'] = df['Length'].astype(int)
df['Year'] = df['Year'].astype(int)
df.head()

      Make      Variant  Length     Geo   Origin   Price  Year
0   Alubat     Ovni 395      41  Europe   France  267233  2005
1  Bavaria   38 Cruiser      38  Europe  Croatia   75178  2005
2  Bavaria   38 Cruiser      38  Europe  Croatia   66825  2005
3  Bavaria   38 Cruiser      38  Europe  Croatia   54661  2005
4  Bavaria  38 Cruiser       38  Europe  Croatia   53447  2005

In [50]:
noise_std = 0.05
df['Price'] = df['Price'].to_numpy(dtype=int) + np.random.normal(scale=noise_std*df['Price'].to_numpy(dtype=int), size=df.shape[0])
df['Year'] = df['Year'].to_numpy(dtype=int) + np.random.normal(scale=noise_std * (2023-df['Year'].to_numpy(dtype=int)), size=df.shape[0])
df['Length'] = df['Length'].to_numpy(dtype=int) + np.random.normal(scale=noise_std*df['Length'].to_numpy(dtype=int), size=df.shape[0])
df['Price'] = df['Price'].astype(int)
df['Length'] = df['Length'].astype(int)
df['Year'] = df['Year'].astype(int)
df.to_csv('augmented_data.csv', index=False)

In [52]:
df_augmented = df.copy()
merged_df = pd.concat([df, df_augmented], axis=0)
merged_df.head()
merged_df.to_csv('augmented_data.csv')

4686